main {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #43444c;
    padding: 5vh 5vw;
    min-height: 100vh;
    color: white;
    align-items: center;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-style: bold;
}

img {
    margin: 5% 2%;
    width: 20%;
    border-radius: 10%;
    position: absolute;
}

.container {
    width: inherit;
}

.concert {
    margin-bottom: 5%;
    padding-left: 30%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10%;
    background-color: #2f3036;
    
}

.date {
    color: rgb(180, 178, 178);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.concert_details {
    margin-bottom: 2rem;
    width: 70%;
}
