::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

h1{
    margin: 30px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
    background-color: rgb(36, 37, 42) ;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    user-select: none;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.zhoushen-title {
    margin-right: auto;
    color: #fff;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 35px;
    min-width: fit-content;
}

.zhoushen-title:link,
.zhoushen-title:visited,
.zhoushen-title:hover,
.zhoushen-title:active {
    text-decoration: none;
}

.menu,
.overlay__content a {
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}
  
.menu {
    font-size: 30px;
    margin-left: 20px;
    padding: 9px 25px;
    color: white;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.menu:hover {
    color: black;
}
  
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}
  
.overlay--active {
    width: 100%;
}
  
.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}
  
.overlay a:hover,
.overlay a:focus {
    color: black;
}

.overlay .close {
    position: absolute;
    top: 35px;
    right: 45px;
    color: #edf0f1;
    cursor: pointer;
    padding: 5px 20px;
    background-color: rgba(0, 136, 169, 0);
    border: none;
    font-size: 70px;
    font-family: "Montserrat", sans-serif;
}

.close:hover {
    color: black;
}

footer {
    background-color: rgb(36, 37, 42);
    font-family: 'ZCOOL KuaiLe', sans-serif;
    padding: 1vh 5vw;
}

.footer_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0 5vh;
    gap: 5vw;
}

.column_header {
    color: rgb(161, 160, 160);
    font-size: 25px;
}

.column_header:hover {
    color: rgb(0,0,0);
}

.footer_column a:hover {
    color: rgb(0, 0, 0);
}

.footer_column {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.footer_column a{
    color: #fff;
    text-decoration: none;
}

.copyright {
    font-size: 20px;
    text-align: center;
    color: rgb(161, 160, 160);
}

@media screen and (max-width: 800px) {
h1 {
    font-size: 6vw;
}
.footer_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
}