html, body {
    min-height: 100%;
    width: 100vw;
}

h2 {
    margin: 0;
}

.section1 {
    background-image: url("/src/img/zhoushenhighres3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 220vh;
    margin: 0;
    padding: 0;
    overflow: overlay;
}

.section2 {
    background-color: #24252a;
    height: fit-content;
    width: 100vw;
    margin: 0;
    border: none;
    padding: 0; 
    
}

.album_section {
    position: absolute;
    width: 100%;
    margin: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 30%;
}


.album {
    width: fit-content;
}

.album_pic img{
    position: relative;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.album_pic:hover{
    filter: brightness(70%);
}

.music_text {
    color: white;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 40px;
    text-align: center;
}

.section_header {
    position: relative;
    top: 5vh;
    left: 7%;
    color: white;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 80px;
    font-weight: 500;
}

.section3 {
    background-image: url("/src/img/zhoushenhighres1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 120vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.performances {
    height: 100%;
    width: inherit;
    display: flex;
    flex-direction: row;
    left: 0;
    margin-top: 80px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 0;
}

.performances::-webkit-scrollbar {
    height: 10px;
    background: rgb(67, 71, 89);
}

.performances::-webkit-scrollbar-track {
    border-radius: 30px;
}

.performances::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 10px;
  } 

.perf_video {
    height: 45vw;
    filter: brightness(0.4);
}

.perf_video:hover {
    filter: brightness(1);
}

.performance_text {
    color: white;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 70px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 820px) {
    .section1 {
        background-image: url("/src/img/zhoushenhighres3_mobile.jpg") cover;
        -webkit-background-size:cover;
    }
    .album_section {
        padding-left: 0;
        padding-top: 50vh;
        background-image: linear-gradient(transparent, #24252a);
        position: absolute;
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .album1 {
        position: relative;
        top: 450px;
        left: 0;
        width: fit-content;
    }
    .album2 {
        position: relative;
        top: 450px;
        left: 0;
        width: fit-content;
    }

    .section2 {
        height: fit-content;
    }

    .performances {
        height: fit-content;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    .perf_video {
        height: 100%;
        width: 100%;
        margin-bottom: 0px;
    }
    .performance_text {
        font-size: 40px;
        margin-bottom: 20px;
    }

}