* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    width: 100%;
}

.homepage {
    margin: 0;
    border: none;
}

.homepage_content{
    display: flex;
    flex-direction: row;
    margin: 0;
    border: none;
    height: fit-content;
}

.odd {
    display: flex;
    flex-direction: row;
}

.even {
    display: flex;
    flex-direction: row-reverse;
}

.homepage_image {
    background-color: black;
    width: 70%;
    height: fit-content;
    border: none;
}

.homepage_text {
    background-color: black;
    color: white;
    width: 30%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
.homepage_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage_image {
    width: 100%;
}
.homepage_text {
    width: 100%;
    padding: 10vh;
}
}