h2 {
    margin: 0;
}

.section1 {
    background-image: url("/src/img/zhoushenhighres3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 220vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.section2 {
    background-color: #24252a;
    height: 100vh;
    width: 100vw;
    margin: 0;
    border: none;
    padding: 0;
}

.album_section {
    position: absolute;
    width: 100%;
}

.album1 {
    position: absolute;
    top: 400px;
    left: 20px;
    width: fit-content;
}

.album2 {
    position: absolute;
    top: 900px;
    left: 20px;
    width: fit-content;
}

.album_pic img{
    position: relative;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.album_pic:hover{
    filter: brightness(70%);
}

.music_text {
    color: white;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 40px;
    text-align: center;
}

.section_header {
    position: relative;
    top: 5vh;
    left: 7%;
    color: white;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 80px;
    font-weight: 500;
}

.section3 {
    background-image: url("/src/img/zhoushenhighres1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 120vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 1000px) {
    .section1 {
        background-image: url("/src/img/zhoushenhighres3_mobile.jpg");
        height: 150vh;
    }
    .album_section {
        background: radial-gradient(circle,rgb(0,0,0), rgba(221, 221, 221, 0));
        backdrop-filter: blur(10px);
        border-radius: 1000px;
        position: absolute;
        top: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .album1 {
        position: relative;
        top: 110px;
        left: 0;
        width: fit-content;
    }
    .album2 {
        position: relative;
        top: 10px;
        left: 0;
        width: fit-content;
    }
}