html, body {
    min-height: 100%;
    overflow-x: hidden;
}

h2 {
    margin: 0;
}

.section1 {
    background-image: url("/src/img/zhoushenhighres3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 220vh;
    margin: 0;
    padding: 0;
    overflow: overlay;
}

.section2 {
    background-color: #43444c;
    height: fit-content;
    
}

.album_section {
    position: absolute;
    width: 100%;
    margin: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 30%;
}


.album {
    width: fit-content;
}

.album_pic img{
    position: relative;
    max-width: 150%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.album_pic:hover{
    filter: brightness(70%);
}

.music_text {
    color: white;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 40px;
    text-align: center;
}

.section_header {
    position: relative;
    top: 5vh;
    left: 7%;
    margin-bottom: 50px;
    color: white;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 80px;
    font-weight: 500;
}

.section3 {
    background-image: url("/src/img/zhoushenhighres4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 120vh;
    margin: 0;
    padding: 0;
}

.performances {
    height: 100%;
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 0;
    margin-top: 80px;
    padding-bottom: 0;
    justify-content: space-around;
}

.perf_video {
    height: 25vw;
    filter: brightness(0.4);
}

.perf_video:hover {
    filter: brightness(1);
}

.performance_text {
    color: white;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 1440px) {
    .album_pic {
        width: 20vw;
    }

    .perf_video {
        height: 20vw;
    }
}

@media screen and (max-width: 820px) {
    .section_header {
        font-size: 40px;
    }

    .section1 {
        background-image: url("/src/img/zhoushenhighres3_mobile.jpg") cover;
        -webkit-background-size:cover;
        background-size: cover;
    }
    .album_section {
        padding-left: 0;
        padding-top: 70vh;
        background-image: linear-gradient(transparent, #24252a);
        position: absolute;
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section2 {
        height: fit-content;
    }

    .performances {
        height: fit-content;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    .perf_video {
        height: 100%;
        width: 100%;
        margin-bottom: 0px;
    }
    .performance_text {
        font-size: 40px;
        margin-bottom: 20px;
    }

}