.music_page {
    padding: 5vh 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: space-around;
}


.music_content {
    width: 260px;
    height: 260px;
    color: transparent;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.music_content:hover{
    background-color: #24252a9b;
    color: white;
}

.album_pic {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.music_text {
    position: absolute;
}