body {
    background-color: #43444c;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    justify-content: space-around;
}

.container {
    max-width: 400px;
    width: 100vw;
    box-shadow: none;
    margin: 0;
    text-align: center;
    padding-bottom: 5%;
    border-radius: 0;
    background-color: #43444c;
    color: white;
}

img {
    object-fit: cover;
    width: 90%;
    padding: 5% 5% 5% 5%;
    border-radius: 8%;
}

.year {
    font-size: 15px;
    color: rgb(182, 177, 177);
}

.content {
    padding: 2px 16px;
    font-family: 'Kanit', sans-serif;
}

.content h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    margin: 0;
}

.content p {
    font-size: 20px;
    margin: 5px 5px;
}
