h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: rgb(255, 250, 250);
    margin: 0;
}

header {
    background-color: rgb(0, 0, 0);
    margin: 0;
}

.zhoushen-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

body {
    margin: 0;
}

nav {
    display: inline-block
}

.navbar{
    list-style-type: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}