h2 {
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 50px;
    color: white;
}

body {
    background-image: url("songdetailsbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#details {
    margin-right: 5%;
    margin-left: 70%;
    width: 40%;
    height: fit-content;
    position: fixed;
}

.album_pic {
    width: 300px;
    height: 300px;
    align-self: center;
    position: fixed;
}

#lyrics {
    
    margin-left: 5%;
    padding: 5%;
    background-color: rgba(0,0,0,0.8);
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    font-weight: 500;
    color: white;
    border-radius: 50px;
}